{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

<section id="gallery">
    <div class="container">
        <div class="row">

        {{ with .Resources.ByType "image" }}
            {{ range $index, $element := . }}
            {{ $image360px := ($element.Fill "360x270") }}
            <div class="col-md-4 col-sm-6">
              <a href="{{ $element.RelPermalink | absURL }}" data-fancybox="gallery">
                  <img src="{{ $image360px.RelPermalink | absURL }}" />
              </a>
            </div>
            {{ end }}
        {{ end }}
        </div>
    </div>
</section>

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}
