{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">
    <div class="container">
        <!-- <div class="row content&#45;justify&#45;between"> -->
        <!--     <div class="col&#45;md&#45;8 col&#45;12 text&#45;center text&#45;lg&#45;left text&#45;md&#45;left"> -->
        <!--         <p class="copyright">Copyright: -->
        <!--             <span> -->
        <!--                 <script>document.write(new Date().getFullYear())</script> -->
        <!--             </span> Design and Developed by -->
        <!--             <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>. -->
        <!--             <br> Get More Bootstrap Template From Our -->
        <!--             <a href="https://themefisher.com/free&#45;bootstrap&#45;templates/" target="_blank">Store</a> -->
        <!--         </p> -->
        <!--     </div> -->
        <!--     <div class="col&#45;md&#45;4 col&#45;12"> -->
        <!--         {{ "<!&#45;&#45; Social Media &#45;&#45;>" | safeHTML }} -->
        <!--         <ul class="social text&#45;center text&#45;md&#45;right text&#45;lg&#45;right"> -->
        <!--             <li> -->
        <!--                 <a href="#" class="facebook"> -->
        <!--                     <i class="ion&#45;social&#45;facebook"></i> -->
        <!--                 </a> -->
        <!--             </li> -->
        <!--             <li> -->
        <!--                 <a href="#" class="twitter"> -->
        <!--                     <i class="ion&#45;social&#45;twitter"></i> -->
        <!--                 </a> -->
        <!--             </li> -->
        <!--             <li> -->
        <!--                 <a href="#" class="linkedin"> -->
        <!--                     <i class="ion&#45;social&#45;linkedin"></i> -->
        <!--                 </a> -->
        <!--             </li> -->
        <!--             <li> -->
        <!--                 <a href="#" class="googleplus"> -->
        <!--                     <i class="ion&#45;social&#45;googleplus"></i> -->
        <!--                 </a> -->
        <!--             </li> -->
        <!--         </ul> -->
        <!--     </div> -->
        <!-- </div> -->
    </div>
</footer>
{{ "<!-- footer section end -->" | safeHTML }}

{{ "<!-- jquery -->" | safeHTML }}
<script src="{{ "plugins/jQurey/jquery.min.js" | absURL }}"></script>
{{ "<!-- Form Validation -->" | safeHTML }}
<script src="{{ "plugins/form-validation/jquery.form.js" | absURL }}"></script>
<script src="{{ "plugins/form-validation/jquery.validate.min.js" | absURL }}"></script>
{{ "<!-- slick slider -->" | safeHTML }}
<script src="{{ "plugins/slick/slick.min.js" | absURL }}"></script>
{{ "<!-- bootstrap js -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- wow js -->" | safeHTML }}
<script src="{{ "plugins/wow-js/wow.min.js" | absURL }}"></script>
{{ "<!-- slider js -->" | safeHTML }}
<script src="{{ "plugins/slider/slider.js" | absURL }}"></script>
{{ "<!-- Fancybox -->" | safeHTML }}
<script src="{{ "plugins/facncybox/jquery.fancybox.js" | absURL }}"></script>
{{ "<!-- template main js -->" | safeHTML }}
<script src="{{ "js/main.js" | absURL }}"></script>
</body>

</html>
