{{ if .Site.Params.slogan.enable }}
<section id="slogan">
    <div class="container">
        <div class="row">
            <div class="col-md-1 text-center">
            </div>
            <div class="col-md-10 text-center">
                <div class="wow fadeInUp" data-wow-delay=".3s">
                    {{ with .Site.Params.slogan.description }}<h2 class="wow fadeInUp animated" data-wow-delay=".6s">{{ . }}</h2>{{ end }}
                </div>
            </div>
            <div class="col-md-1 text-center">
            </div>
        </div>
    </div>
</section>
{{ end }}
