{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.contact.enable }}
{{ "<!-- Contact Section Start -->" | safeHTML }}
<section id="contact-section">
    <div class="container">
        <div class="row address-details">
            {{ range .Site.Params.contact.social }}
            <div class="col-lg-3 col-sm-6">
                <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                    {{ if .link }}
                    <a href="{{ .link }}" class="phone">
                        <i class="{{ .icon }}"></i>
                    </a>
                    {{ else }}
                    <i class="{{ .icon }}"></i>
                    {{ end }}
                    <p>{{ .text }}
                        <br>{{ .text2 }}</p>
                </div>
            </div>
            {{ end }}
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                {{ with .Site.Data.contact.image }}<img src="{{ . | absURL }}" alt="" class="img-fluid">{{ end }}
            </div>
        </div>
    </div>
</section>
{{ "<!-- Contact Section End -->" | safeHTML }}
{{ end }}

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}
